In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [96]:
test_data = pd.read_csv('C:/Users/atalb/Documents/Coding/MLandAI/MLPracticeExercises/Datasets/StickerSales/test.csv')
train_data = pd.read_csv('C:/Users/atalb/Documents/Coding/MLandAI/MLPracticeExercises/Datasets/StickerSales/train.csv')

test_data.head()
# train_data.head()

       id        date country              store             product
0  230130  2017-01-01  Canada  Discount Stickers   Holographic Goose
1  230131  2017-01-01  Canada  Discount Stickers              Kaggle
2  230132  2017-01-01  Canada  Discount Stickers        Kaggle Tiers
3  230133  2017-01-01  Canada  Discount Stickers            Kerneler
4  230134  2017-01-01  Canada  Discount Stickers  Kerneler Dark Mode

In [97]:
train_data.describe()

                  id       num_sold
count  230130.000000  221259.000000
mean   115064.500000     752.527382
std     66432.953062     690.165445
min         0.000000       5.000000
25%     57532.250000     219.000000
50%    115064.500000     605.000000
75%    172596.750000    1114.000000
max    230129.000000    5939.000000

In [98]:

train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230130 entries, 0 to 230129
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        230130 non-null  int64
 1   date      230130 non-null  object
 2   country   230130 non-null  object
 3   store     230130 non-null  object
 4   product   230130 non-null  object
 5   num_sold  221259 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 10.5+ MB

In [99]:
train_data.isnull().sum()

id             0
date           0
country        0
store          0
product        0
num_sold    8871
dtype: int64

In [100]:
train_data.dropna(inplace=True)
train_data.isnull().sum()

id          0
date        0
country     0
store       0
product     0
num_sold    0
dtype: int64

In [101]:
train_data['date'] = pd.to_datetime(train_data['date'])
print(train_data.dtypes)

id                   int64
date        datetime64[ns]
country             object
store               object
product             object
num_sold           float64
dtype: object

In [102]:
train_data['year'] = train_data['date'].dt.year
train_data['month'] = train_data['date'].dt.month
train_data['day'] = train_data['date'].dt.day
train_data['day_of_week'] = train_data['date'].dt.dayofweek  # 0 = Monday, 6 = Sunday
train_data['day_of_year'] = train_data['date'].dt.dayofyear
train_data['week_of_year'] = train_data['date'].dt.isocalendar().week
train_data['quarter'] = train_data['date'].dt.quarter

In [103]:
# Add cyclic features for 'day_of_week' (0-6)
train_data['day_of_week_sin'] = np.sin(2 * np.pi * train_data['day_of_week'] / 7)
train_data['day_of_week_cos'] = np.cos(2 * np.pi * train_data['day_of_week'] / 7)

# Add cyclic features for 'month' (1-12)
train_data['month_sin'] = np.sin(2 * np.pi * train_data['month'] / 12)
train_data['month_cos'] = np.cos(2 * np.pi * train_data['month'] / 12)

In [104]:
# Days since the start date
train_data['days_since_start'] = (train_data['date'] - train_data['date'].min()).dt.days

# Lag features
train_data['lag_1'] = train_data['days_since_start'].shift(1)  # 1-day lag

In [105]:
def get_season(month):
    if month in [12, 1, 2]: return 'Winter'
    elif month in [3, 4, 5]: return 'Spring'
    elif month in [6, 7, 8]: return 'Summer'
    else: return 'Fall'

train_data['season'] = train_data['month'].apply(get_season)

In [107]:
# Example: Rolling mean of a sales column
train_data['rolling_mean'] = train_data['num_sold'].rolling(window=7).mean()

# Example: Expanding cumulative mean
train_data['cumulative_mean'] = train_data['num_sold'].expanding().mean()

In [108]:
test_data['date'] = pd.to_datetime(test_data['date'])
print(test_data.dtypes)

id                  int64
date       datetime64[ns]
country            object
store              object
product            object
dtype: object

In [109]:
test_data['year'] = test_data['date'].dt.year
test_data['month'] = test_data['date'].dt.month
test_data['day'] = test_data['date'].dt.day
test_data['day_of_week'] = test_data['date'].dt.dayofweek  # 0 = Monday, 6 = Sunday
test_data['day_of_year'] = test_data['date'].dt.dayofyear
test_data['week_of_year'] = test_data['date'].dt.isocalendar().week
test_data['quarter'] = test_data['date'].dt.quarter

In [110]:
# Add cyclic features for 'day_of_week' (0-6)
test_data['day_of_week_sin'] = np.sin(2 * np.pi * test_data['day_of_week'] / 7)
test_data['day_of_week_cos'] = np.cos(2 * np.pi * test_data['day_of_week'] / 7)

# Add cyclic features for 'month' (1-12)
test_data['month_sin'] = np.sin(2 * np.pi * test_data['month'] / 12)
test_data['month_cos'] = np.cos(2 * np.pi * test_data['month'] / 12)

In [111]:
# Days since the start date
test_data['days_since_start'] = (test_data['date'] - test_data['date'].min()).dt.days

# Lag features
test_data['lag_1'] = test_data['days_since_start'].shift(1)  # 1-day lag

In [112]:
def get_season(month):
    if month in [12, 1, 2]: return 'Winter'
    elif month in [3, 4, 5]: return 'Spring'
    elif month in [6, 7, 8]: return 'Summer'
    else: return 'Fall'

test_data['season'] = test_data['month'].apply(get_season)

In [77]:
# Import LabelEncoder
from sklearn.preprocessing import LabelEncoder

# Create label encoders for each categorical column
le_country = LabelEncoder()
le_store = LabelEncoder()
le_product = LabelEncoder()

# Fit and transform categorical columns in train data
train_data['country_encoded'] = le_country.fit_transform(train_data['country'])
train_data['store_encoded'] = le_store.fit_transform(train_data['store'])
train_data['product_encoded'] = le_product.fit_transform(train_data['product'])

# Transform categorical columns in test data using the same encoders
test_data['country_encoded'] = le_country.transform(test_data['country'])
test_data['store_encoded'] = le_store.transform(test_data['store'])
test_data['product_encoded'] = le_product.transform(test_data['product'])

# Convert date column to datetime type and extract useful features
train_data['date'] = pd.to_datetime(train_data['date'])
test_data['date'] = pd.to_datetime(test_data['date'])

# Extract date features
for df in [train_data, test_data]:
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['day_of_week'] = df['date'].dt.dayofweek

# Display the first few rows of encoded train data
train_data.head()

,id,date,country,store,product,num_sold,country_encoded,store_encoded,product_encoded,year,month,day,day_of_week
1,1,2010-01-01,Canada,Discount Stickers,Kaggle,973.0,0,0,1,2010,1,1,4
2,2,2010-01-01,Canada,Discount Stickers,Kaggle Tiers,906.0,0,0,2,2010,1,1,4
3,3,2010-01-01,Canada,Discount Stickers,Kerneler,423.0,0,0,3,2010,1,1,4
4,4,2010-01-01,Canada,Discount Stickers,Kerneler Dark Mode,491.0,0,0,4,2010,1,1,4
5,5,2010-01-01,Canada,Stickers for Less,Holographic Goose,300.0,0,2,0,2010,1,1,4

In [78]:
test_data.head()

,id,date,country,store,product,country_encoded,store_encoded,product_encoded,year,month,day,day_of_week
0,230130,2017-01-01,Canada,Discount Stickers,Holographic Goose,0,0,0,2017,1,1,6
1,230131,2017-01-01,Canada,Discount Stickers,Kaggle,0,0,1,2017,1,1,6
2,230132,2017-01-01,Canada,Discount Stickers,Kaggle Tiers,0,0,2,2017,1,1,6
3,230133,2017-01-01,Canada,Discount Stickers,Kerneler,0,0,3,2017,1,1,6
4,230134,2017-01-01,Canada,Discount Stickers,Kerneler Dark Mode,0,0,4,2017,1,1,6

In [79]:
# Drop original categorical columns from both datasets
columns_to_drop = ['country', 'store', 'product', 'date']

train_data = train_data.drop(columns=columns_to_drop)
test_data = test_data.drop(columns=columns_to_drop)

# Show the first few rows of the cleaned train data
train_data.head()

,id,num_sold,country_encoded,store_encoded,product_encoded,year,month,day,day_of_week
1,1,973.0,0,0,1,2010,1,1,4
2,2,906.0,0,0,2,2010,1,1,4
3,3,423.0,0,0,3,2010,1,1,4
4,4,491.0,0,0,4,2010,1,1,4
5,5,300.0,0,2,0,2010,1,1,4

In [80]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Separate features and target
X = train_data.drop(['id', 'num_sold'], axis=1)
y = train_data['num_sold']

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the model
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_train, y_train)

# Make predictions on validation set
val_predictions = dt_model.predict(X_val)

# Calculate performance metrics
mse = mean_squared_error(y_val, val_predictions)
rmse = np.sqrt(mse)
r2 = r2_score(y_val, val_predictions)

print(f'Validation RMSE: {rmse:.2f}')
print(f'Validation R2 Score: {r2:.2f}')

# Make predictions on test data
X_test = test_data.drop(['id'], axis=1)
test_predictions = dt_model.predict(X_test)

# Add predictions to test data
test_data['predicted_num_sold'] = test_predictions

# Display first few predictions
test_data[['id', 'predicted_num_sold']].head()

Validation RMSE: 92.21
Validation R2 Score: 0.98

       id  predicted_num_sold
0  230130               139.0
1  230131               738.0
2  230132               597.0
3  230133               366.0
4  230134               392.0

In [81]:
test_pred = test_data[['id', 'predicted_num_sold']]

In [82]:
test_pred.to_csv('C:/Users/atalb/Documents/Coding/MLandAI/MLPracticeExercises/Datasets/StickerSales/test_pred.csv', index=False)